.row-fluid
  .span12
    = render 'flash_notifications'
    - if @collection.present?
      .collection
        .collection-wrap
          .swiper-container
            .swiper-wrapper
              - @collection.items.each do |item|
                .swiper-slide
                  = link_to collection_item_path(item)
                    = image_tag item.active_photo.image_url(:medium)
    - else
      .span8.offset2
        | Sorry, but currently there are no collections
- content_for :scripts do
  javascript:
    var swiperClickHandler = function(swiper){
      if (swiper.activeIndex != swiper.clickedSlideIndex){
        swiper.swipeTo(swiper.clickedSlideIndex)
      } else {
        window.location = $(swiper.activeSlide()).find('a').attr('href');
      }
    };
    $(document).ready(function(){
      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        calculateHeight: true,
        keyboardControl: true,
        centeredSlides: true,
        initialSlide: 2,
        preventLinks: true,
        tdFlow: {
          rotate: -10,
          stretch: -30,
          depth: 200,
          modifier: 1,
          shadows: false,
        },
        onSlideClick: swiperClickHandler
      });
      $('.swiper-slide').on('click', function(e){ e.preventDefault(); })
    });
