html {height:100%;}
body {display:table;width:100%;min-height:100%;height:100%;font:12px/135% 'Century Gothic',verdana,arial,helvetica,sans-serif;color:#858585;}
p {margin-bottom:3px;}

.container-wrap {display:table-row;width:100%;height:100%;}
.page-content {position:relative;height:100%;width:100%;border:20px solid #494949;display:table-cell;vertical-align:middle;overflow:hidden;}
.page-content.landing {border:none;background-color:#000;}
.container-fluid {min-height:100%;}

.bottom-nav {position:absolute;left:0;bottom:0;width:100%;}
.bottom-nav ul {margin:0 20px;padding:0 0 10px;border-top:1px solid #f1f1f1;font-size:12px;line-height:12px;}
.bottom-nav ul li {display:inline-block;padding:0 10px 3px;}
.bottom-nav ul li:first-child {margin-left:0;}
.bottom-nav ul li.selected {background-color:#f1f1f1;font-weight:bold;}
.bottom-nav ul li a {color:#3c3c3c;}
.bottom-nav ul li a:hover {text-decoration:none;font-weight:bold;}
.bottom-nav:before {display:block;content:'';position:absolute;bottom:60px;left:45px;background: image-url('nathan-logo.png') top left no-repeat;height:50px;width:92px;background-size:100%;}

.landing .bottom-nav-bg {display:block;position:absolute;bottom:0;margin-left:-20px;height:47px;width:100%;background-color:#494949;opacity:.5;}
.landing .bottom-nav ul {height:47px;line-height:47px;margin:0;padding:0;border:none;text-align:center;}
.landing .bottom-nav ul li.selected {background-color:transparent;font-weight:bold;}
.landing .bottom-nav ul li a {color:white;}

.landing .loading {text-align:center;position:absolute;top:50%;left:50%;height:30%;width:50%;margin:-10% 0 0 -25%;}
.landing .loading img {display:block;height:100px;width:177px;margin:0 auto 10px;}

ul.slides li {display:block;position:absolute;bottom:0;top:0;left:0;right:0;margin:0;background:transparent no-repeat center center fixed;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;}

.about {background:image-url('about.jpg') 100% center no-repeat;min-height:394px;}
.about p {margin-right:120px;font-size:13px;line-height:150%;margin-bottom:10px;}
.about p:first-child {margin-right:80px;}

.contact form {margin:20px 0;}

// Collection page slider custom styles
.collection {position:relative;overflow:visible;}
.collection .collection-wrap {position:absolute;left:0;right:0;height:525px;margin-top:-262px;background:red;top:0;background:red;height:100%;}
.collection .swiper-container {width:100%;}
.collection .swiper-slide {width:350px;height:525px;opacity:.75;}
.collection .swiper-slide.swiper-slide-active {opacity:1;}
.collection .swiper-slide.opened a img {visibility:hidden;}

// Item page custom styles
.collection-item {position:relative;}
.collection-item .thumbnail {border:none;box-shadow:none;padding:0;}
.collection-item .thumbnail:hover {border:none;box-shadow:none;cursor:pointer;}
.collection-item #largeimage {position:relative;min-height:570px;}
.collection-item #largeimage:hover:after {display:none;}
.collection-item #largeimage img.zoomed {visibility:hidden;}
.collection-item .social-links {position:absolute;right:0;bottom:0;}
.collection-item .social-links a {color:#858585;}

.fancybox-wrap .collection-item {width:460px;}
.fancybox-wrap .collection-item .social-links {position:fixed;right:auto;left:50%;margin-left:160px;bottom:80px;}
.fancybox-wrap .collection-item .social-links a {color:#ccc;text-shadow:none;}
.fancybox-wrap .collection-item .thumbnails-container {position:absolute;left:-80px;top:0;}
.fancybox-wrap .collection-item .thumbnails-container .thumbnail {opacity:.6;}
.fancybox-wrap .collection-item .thumbnails-container .thumbnail:hover {opacity:1;}
.fancybox-wrap .collection-item .thumbnails-container .thumbnail img {background-color:white;}
.fancybox-opened .fancybox-skin {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fancybox-close {top:-16px;right:-16px;height:16px;width:16px;background:image-url('icon-close.png') no-repeat;}

.ie6 .page-content,
.ie7 .page-content,
.ie8 .page-content,
.ie9 .page-content {height:90%;}
.ie6 .collection .collection-wrap,
.ie7 .collection .collection-wrap,
.ie8 .collection .collection-wrap,
.ie9 .collection .collection-wrap {margin-top:10%;}

// Fix for latest IE versions which don't support IFs
@media screen and (min-width:0\0) {
  .page-content {height:90%;}
  .collection .collection-wrap {margin-top:10%;}
}
