html {height:100%;}
body {display:table;width:100%;height:100%;font:12px/135% 'Century Gothic',verdana,arial,helvetica,sans-serif;color:#858585;}
p {margin-bottom:3px;}
.container-wrap {display:table-row;width:100%;height:100%;}
.page-content {position:relative;height:100%;width:100%;border:20px solid #494949;display:table-cell;vertical-align:middle;}
.page-content.landing {border:none;background-color:#494949;}

.bottom-nav {position:absolute;left:0;bottom:0;width:100%;}
.bottom-nav ul {margin:0 20px;padding:0 0 10px;border-top:1px solid #f1f1f1;font-size:12px;line-height:12px;}
.bottom-nav ul li {display:inline-block;padding:0 10px 3px;}
.bottom-nav ul li:first-child {margin-left:0;}
.bottom-nav ul li.selected {background-color:#f1f1f1;font-weight:bold;}
.bottom-nav ul li a {color:#3c3c3c;}
.bottom-nav ul li a:hover {text-decoration:none;font-weight:bold;}

.landing .bottom-nav-bg {display:block;position:absolute;bottom:0;margin-left:-20px;height:47px;width:100%;background-color:#494949;opacity:.5;}
.landing .bottom-nav ul {height:47px;line-height:47px;margin:0;padding:0;border:none;text-align:center;}
.landing .bottom-nav ul li.selected {background-color:transparent;font-weight:bold;}
.landing .bottom-nav ul li a {color:white;}

ul.slides li {display:block;position:absolute;bottom:0;top:0;left:0;right:0;margin:0;background:transparent no-repeat center center fixed;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;}
